/* Valores generales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


/* valores header */

header{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;    
    background: rgb(214,69,80);
    z-index: 3;
}

header h1{
    color: white;
}

header nav ul{
    display: flex;
}

header nav ul li a{
    padding: 4px;
    margin: 0 10px 0 0;
    font-size: 20px;
    color: white;
    border-radius: 3px;
}

header nav ul li a:hover{
    color: black;
    background-color: rgba(255, 245, 217, 0.767);
}

/* Fondo */

main{
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
    background-image: url(../img/comidas/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px -65px 95px 55px rgba(34,4,0,0.87) inset;
}

main h1, main .text_container{
    padding: 10px;    
    color: white;
    background-color: rgba(34, 4, 0, 0.349);
    border-radius: 10px;
}

main h1{   
    font-size: 40px;
    text-align: center;
}

main p{
    margin: 0 auto;
    max-width: 500px;
    text-align: justify;
    font-size: 20px;
}

main a{
    padding: 10px;    
    font-size: 30px;
    background-color: rgb(214,69,80);
    color: white;
    border-radius: 10px;
}

main a:hover{
    border: 2px rgb(214,69,80) solid;
    background-color: rgb(13, 16, 20);
}

@media screen and (max-width: 600px){
    header{
        flex-direction: column;
        text-align: center
    }
}