/* Valores generales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/otros/background-image.png);
    background-size: 350px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

#contenedor_principal section article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contenedor_principal section article h2{
    text-align: center;
}

/* valores header */


header{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgb(214,69,80);
    z-index: 3;
}

header h1{
    color: white;
}

header nav ul{
    display: flex;
}

header nav ul li a{
    padding: 4px;
    margin: 0 10px 0 0;
    font-size: 20px;
    color: white;
    border-radius: 3px;
}

header nav ul li a:hover{
    color: black;
    background-color: rgba(255, 245, 217, 0.767);
}


/* valores contenedor principal*/

#contenedor_principal{
    max-width: 1200px;
    padding: 30px 15px;    
    margin: 0 auto;
    background-color: white;
}

/* valores banner y titulo */

#contenedor_principal .contenedor-image-container figure{
    height: 250px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-image: url(../img/comidas/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedor_principal .contenedor-image-container figure h1{
    padding: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
}

#contenedor_principal .contenedor-image-container .contenedor-image-container-text{
    max-width: 1000px;
    padding: 20px 10px;
    margin: 0 auto;
    text-align: justify;
}

/* valores contenedor interno 1 */

#contenedor_principal #contenedor-interno{
    max-width: 1000px;
    margin: 0 auto 30px auto;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

/* valores contenedor categoria */

#contenedor_principal #contenedor-interno .categoria .categoria-galeria{
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#contenedor_principal #contenedor-interno .categoria .categoria-galeria a{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;

}

#contenedor_principal #contenedor-interno .categoria .categoria-galeria a div{
    margin: 0 auto;
}

#contenedor_principal #contenedor-interno .categoria .categoria-galeria a:hover{
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

#contenedor_principal #contenedor-interno .categoria .categoria-galeria a:first-child{
    background-image: url(../img/comidas/arrozchaufa.jpg);
}

#contenedor_principal #contenedor-interno .categoria .categoria-galeria a:nth-child(2){
    background-image: url(../img/comidas/ensaladarusa.jpg);
}

#contenedor_principal #contenedor-interno .categoria .categoria-galeria a:nth-child(3){
    background-image: url(../img/comidas/mazamorramorada.jpg);
}
#contenedor_principal #contenedor-interno .categoria .categoria-galeria a:nth-child(4){
    background-image: url(../img/comidas/chichamorada.jpg);
}

/* valores contenedor antojo */

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria{
    height: 250px;    
    display: grid;  
    gap: 10px;
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item:hover{
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item .antojo_atc-galeria-item-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item .antojo_atc-galeria-item-container a h3{
    font-size: 21px;
    color: black;
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item .antojo_atc-galeria-item-container a h3:hover{
    color: rgb(214,69,80) ;
}



#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item .antojo_atc-galeria-item-container div{
    width: fit-content;
    padding: 0 10px 0 0 ;
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item .antojo_atc-galeria-item-container div img{
    width: 40px;
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item .antojo_atc-galeria-item-container div span{
    align-self: center;
}


#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item:first-child figure{
    background-image: url(../img/comidas/picarones.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}

#contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item:nth-child(2) figure{
    background-image: url(../img/comidas/chifle.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}



/* valores contenedor destacados */

#contenedor_principal #contenedor_interno2{
    max-width: 1000px;
    margin: 0 auto;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item {
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item:hover{
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info{
    padding: 15px;    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item img{
    border-radius: 10px 10px 0 0;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info h2{
    color: black;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info h2:hover{
    color: rgb(214,69,80);
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info p{
    height: 100px;    
    text-align: justify;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info p::before{
    content: "";
    width: 100%;
    height: 100%;    
    position: absolute;
    background: linear-gradient(0deg, rgb(227, 227, 227) 0%, rgba(0, 0, 0, 0) 93%);
    top: 2px;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info .destacados-container-item-icons{
    display: flex;
    justify-content: space-evenly;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info .destacados-container-item-icons div{
    padding: 0 6px 0 3px;    
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info .destacados-container-item-icons a div:hover{
    background-color: rgb(13, 16, 20);
    color: white;
}

#contenedor_principal #contenedor_interno2 .destacados .destacados-container .destacados-container-item .destacados-container-item-info .destacados-container-item-icons div img{
    width: 40px;
    height: 40px;
}

/* footer */

#contenedor_principal footer h1{
    padding-top: 20px;
    text-align: center;
}

@media screen and (max-width: 600px){
    header{
        flex-direction: column;
        text-align: center
    }
}

@media screen and (max-width: 400px){
  
    #contenedor_principal #contenedor-interno{
        display: flex;
        flex-direction: column;
    }

    #contenedor_principal #contenedor-interno .categoria .categoria-galeria{
        height: auto;
        grid-template-rows: 120px;
        grid-template-columns: repeat(4, 200px);
        overflow: scroll;
        scroll-behavior: smooth;
    }
    
    #contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria{
        height: auto;
    }

    #contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item{
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr;
    }

    #contenedor_principal #contenedor-interno .antojo_atc .antojo_atc-galeria .antojo_atc-galeria-item .antojo_atc-galeria-item-container{
        align-items: center;
        gap: 10px;
    }

    #contenedor_principal #contenedor_interno2 .destacados .destacados-container{
        display: flex;
        flex-direction: column;
    }
}