/* Valores generales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/otros/background-image.png);
    background-size: 350px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


/* valores header */


header{
    padding: 15px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;    
    background: rgb(214,69,80);
    z-index: 3;
}

header h1{
    color: white;
}

header nav ul{
    display: flex;
}

header nav ul li a{
    padding: 4px;    
    margin: 0 10px 0 0;
    font-size: 20px;
    color: white;
    border-radius: 3px;
}

header nav ul li a:hover{
    color: black;
    background-color: rgba(255, 245, 217, 0.767);
}

/* valores contenedor principal */

#contenedor_principal{
    max-width: 1200px; 
    padding: 30px 15px;       
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;    
    background-color: white;
}

#contenedor_principal .contenedor_principal-imagenes{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#contenedor_principal .contenedor_principal-integrantes{
    margin: 0 auto;
}

#contenedor_principal .contenedor_principal-integrantes .contenedor_principal-integrantes-items{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 600px){
    header{
        flex-direction: column;
        text-align: center
    }
}
