/* Valores generales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/otros/background-image.png);
    background-size: 350px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


/* valores header */

header{
    padding: 15px;
    position: sticky;
    top: 0;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background: rgb(214,69,80);
    align-items: center;
    z-index: 3;
}

header h1{
    color: white;
}

header nav ul{
    display: flex;
}

header nav ul li a{
    padding: 4px;
    margin: 0 10px 0 0;
    font-size: 20px;
    color: white;
    border-radius: 3px;
}

header nav ul li a:hover{
    color: black;
    background-color: rgba(255, 245, 217, 0.767);
}

#contenedor_principal{
    max-width: 1200px;
    padding: 30px 15px;
    margin: 0 auto;
    background-color: white;
}

/* contenedor del titulo */

#contenedor_principal .contenedor-titulo figure{
    height: 250px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

#contenedor_principal .contenedor-titulo figure h1{
    padding: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
}

#contenedor_principal .contenedor-titulo p{
    max-width: 1000px;
    padding: 20px 10px;
    margin: 0 auto;
    text-align: justify;
}

/* contenedor preparacion */

#contenedor_principal .receta{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#contenedor_principal .receta h2{
    margin: 15px 0;
}

#contenedor_principal .receta .receta-ingredientes ul li, #contenedor_principal .receta .receta-preparacion ul li{
    margin: 5px 0;
    list-style: circle;
    list-style-position: inside;
}

#contenedor_principal .receta .receta-preparacion{
    flex: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contenedor_principal .receta .receta-preparacion .receta-preparacion-imagenes{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}



/* contenedor otras recetas */

#contenedor_principal .otros{
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contenedor_principal .otros .otros-recetas{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item{
    text-align: center;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}


#contenedor_principal .otros .otros-recetas .otros-recetas-item:hover{
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item img{
    border-radius: 10px 10px 0 0;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info h2{
    color: black;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info h2:hover{
    color: rgb(214,69,80);
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info p{
    height: 100px;    
    text-align: justify;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info p::before{
    content: "";    
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, rgb(227, 227, 227) 0%, rgba(0, 0, 0, 0) 93%);
    top: 2px;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info .otros-recetas-item-icons{
    display: flex;
    justify-content: space-evenly;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info .otros-recetas-item-icons div{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 0 6px 0 3px;
    border-radius: 5px;
    color: black;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info .otros-recetas-item-icons a div:hover{
    background-color: rgb(13, 16, 20);
    color: white;
}

#contenedor_principal .otros .otros-recetas .otros-recetas-item .otros-recetas-item-info .otros-recetas-item-icons div img{
    width: 40px;
    height: 40px;
}

/* footer */

#contenedor_principal footer h1{
    padding-top: 20px;
    text-align: center;
}

@media screen and (max-width: 600px){
    header{
        flex-direction: column;
        text-align: center
    }
}